
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anaia Entertainment Producciones</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="app-footer.component.css">
</head>


<footer>
  <p class="contacto">Contacto: correo@example.com | Teléfono: (123) 456-7890</p>
  <p class="marca">@Anaia-Entertainment</p>
</footer>

