

@media (min-width: 1200px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
  }

    footer p {
      margin: 0 0.5em;
      padding: 0.5em 1em;
      border: 1px #fff;
      border-radius: 4px;
    }
}



@media (min-width: 768px) and (max-width: 1199px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
  }

    footer p {
      margin: 0 0.5em;
      padding: 0.5em 1em;
      border: 1px #fff;
      border-radius: 4px;
    }
}


@media (max-width: 767px) {

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    
  }
    footer p {
      font-size: 0.8rem;
      margin: 0 0.5em;
      padding: 0.5em 1em;
      border: 1px #fff;
      border-radius: 4px;
    }

    .contacto{
       display:none;
    }


}
