
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anaia Entertainment Producciones</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="contacto.component.css">
</head>

<section class="contacto">


  <div class="container-contacto">
    <div class="background-black">
      <h2>Contacto</h2>
      <div class="row justify-content-center" style="margin-right: 0px">


        <div class="col-md-5">
          <div class="card-header card-direccion">Direccion: Obispo Clara 95 ▼  - Telefono:(0351)4727226</div>
          <div class="card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.7033581486676!2d-64.1994679!3d-31.39474199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988b3676ac9f%3A0x697fd673aced8fe6!2sObispo%20Clara%2095%2C%20X5008GMC%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1680899750965!5m2!1ses-419!2sar" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-5">
          <div>
            <label class="redes-label">/anaia_entertainment</label>
            <button class="button-contact button-instagram" (click)="redirectToInstagram()">
              <img src="assets/instagram.png" alt="next">
            </button>

          </div>

          <button class="button-contact button-spotify" (click)="redirectToSpotify()">
            <img src="assets/spotify.png" alt="next">
          </button>
          <button class="button-contact button-youtube" (click)="redirectToYoutube()">
            <img src="assets/youtube.png" alt="next">
          </button>
          <button class="button-contact button-whatsapp" (click)="redirectToWhatsApp()">
            <img src="assets/whatsapp.png" alt="next">
          </button>
        </div>

      </div>
    </div>
  </div>
</section>




