
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anaia Entertainment Producciones</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="app-home.component.css">
</head>

<div class="background">
  <video #videoPlayer autoplay muted loop id="video-background">
    <source src="../../assets/anaia_video.mp4" type="video/mp4">
  </video>


</div>

<div class="home">
  <div class="background-black"></div>

  <div class="container">

    <h2 class="titulo">Anaia Entertainment </h2>
    <h3 class="subtitulo">Tu tienda de beats de música urbana, trap, hip hop / rap, RnB, electrónica y pop en Córdoba. </h3>
    <h4 class="texto">
      Escucha, y compra la base instrumental que más te guste de manera inmediata para usarla en tu producción. Ofrecemos nuevos beats cada mes y contamos con un equipo de producción musical en Córdoba para brindarte el mejor servicio de mezcla y mastering.

      Explora nuestro catálogo de beats y encuentra el sonido perfecto para tu próximo proyecto musical. También ofrecemos servicios de producción musical personalizados para ayudarte a llevar tus ideas a otro nivel.
    </h4>
    <h4 class="texto-final">
      ¿Tienes preguntas? No dudes en contactarnos.
    </h4>
    <h4 class="saludo-final">
      ¡Gracias por visitar Anaia!
    </h4>


    <!-- Botón original -->
    <!--<a class="saber-mas" href="https://www.otrapagina.com">Más 🎹</a>-->
  </div>

</div>




<app-servicios id="servicios" #serviciosComponent></app-servicios>
<app-beats></app-beats>
<app-contacto id="contacto" #contactoComponent></app-contacto>
<!--
<app-song-form></app-song-form>
<app-contacto id="contacto" #contactoComponent></app-contacto>
  -->
